.main{
  background-image: url('./assets/Hero.png'); /* Adjust the path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;